[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
scipy = "*"
yellowbrick = "*"
seaborn = "*"
altair = "*"
vega-datasets = "*"
notebook = "*"
vega = "*"
plotly = "*"

[dev-packages]
ipython = "*"
matplotlib = "*"
pandas = "*"

[requires]
python_version = "3.8"
